body {
    background-color: rgb(21, 52, 72);
}

h1 {
    text-align: center;
    border-bottom: solid 5px rgb(77, 134, 156);
}

p {
    color: white;
    text-align: center;
    font-family: Georgia;
}

.roar {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 50px;
    justify-content: center;
    align-items: center;
}

.description {
    color: rgb(223, 208, 184);
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    background-color: rgb(60, 91, 111);
    border-radius: 20px;
}

.vid {
    margin: 0 auto;
    width: 600px;
    padding-top: 50px;
}

.title {
    color: white;
    border-color: rgb(77, 134, 156);
    margin-top: 50px;
    border-bottom: solid 5px rgb(223, 208, 184);
    text-align: center;
    font-size: 75px;
    font-weight: 200;
    justify-content: center;
}

#main {
    text-align: center;
}

.header {
    padding-top: 50px;
    font-family: Georgia;
    font-size: 20px;
}