body {
    background-color: rgb(30, 3, 66);
}

h1 {
    text-align: center;
    border-bottom: solid 5px rgb(77, 134, 156);
}

p {
    text-align: center;
    font-family: Georgia;
}

.dunk {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 50px;
    justify-content: center;
    align-items: center;
}

.description {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    background-color: rgb(154, 200, 205);
    border-radius: 20px;
}

.vid {
    margin: 0 auto;
    width: 600px;
    padding-top: 50px;
}

.title {
    color: rgb(225, 247, 245);
    margin-top: 50px;
    border-bottom: solid 5px rgb(77, 134, 156);
    text-align: center;
    font-size: 75px;
    font-weight: 200;
    justify-content: center;
}

#main {
    text-align: center;
}

.header {
    color: rgb(225, 247, 245);
    padding-top: 50px;
    font-family: Georgia;
    font-size: 20px;
}